


.navbar{
    position: fixed;
    bottom: 0;left:0; right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;
    
}

.nav-style{
   background-color:#0b0b0d;
}


.navbar a{
    padding: 2rem;
    text-decoration: none;
    flex: 1;
    text-align: center;
    transition: .2s linear;
    font-weight: bold;
    color:crimson;

}


.navbar i{
    
    padding-right: .5rem;
    font-size: 18px;

}


.navbar a:hover {
    background-color: crimson;
    padding-bottom: 3rem;
    color: azure;
       
    
  


}




.navbar-bg {
    background-color: #00a5cf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

}

.Nav {
    position: -webkit-sticky;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}









 
